In [1]:
print("Hello Pyhton")

Hello Pyhton

In [2]:
print("hello\
python")

hellopython

In [3]:
print("""(\_/)
( •,•)
(")_(")""")

(\_/)
( •,•)
(")_(")

In [4]:
print('python's world')

SyntaxError: invalid syntax (<ipython-input-4-3f3d487a621e>, line 1)

In [5]:
print('python\'s world')

python's world

In [6]:
print("hello \t python")

hello 	 python

In [8]:
print("hello \n python")

hello
 python

In [9]:
name="XYZ"
marks="90.867"
age="20"
print("the name of the person is", name, "marks is", marks, "age is", age)

the name of the person is XYZ marks is 90.867 age is 20

In [13]:
name="XYZ"
marks=90.867
age=20
print("the name of the person is %s marks is %f age is %d"%(name, marks, age))

the name of the person is XYZ marks is 90.867000 age is 20

In [17]:
print("the name of the person is %10s marks is %10.2f age is %10d"%(name, marks, age))

the name of the person is        XYZ marks is      90.87 age is         20

In [16]:
print(f"the name of the person is {name} marks is {marks} age is {age}")

the name of the person is XYZ marks is 90.867 age is 20

In [20]:
a=10
a

10

In [21]:
x=y=z=20
id(x)

1494604304

In [22]:
id(y)

1494604304

In [24]:
del x
x

NameError: name 'x' is not defined

In [25]:
5**5

3125

In [28]:
10%3

1

In [29]:
10//3

3

In [30]:
a=10
b=20
a==b

False

In [31]:
a=240
b=1
a|b

241

In [32]:
a&b

0

In [33]:
10>9 and 20>m

NameError: name 'm' is not defined

In [34]:
10<9 and 20>m

False

In [35]:
str1="python"
"a" in str1

False

In [36]:
"a" not in str1

True

In [37]:
a=10
b=10
a==b

True

In [38]:
a is b

True

In [39]:
a=-4
b=-4
a==b

True

In [40]:
a is b

True

In [41]:
a=257
b=257
a is b

False

In [42]:
10+10/29*4

11.379310344827587

In [43]:
2**-1

0.5